.container {
  background-image: url("/header.png");
  background-size: contain;   
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.aboutPhoto {
  margin: 100px;
  width: 500px !important;
  height: 500px !important;
}
.aboutTitleFirst {
  background-color: var(--primary-color);
  padding: 0px 11px;
  color: #fff;
  margin-right: -3px;
}
.aboutText {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 250;
  padding-right: 100px;
  min-width: 700px;
  max-width: 700px;
  min-height: 120px;
}
// Responsive section
@media (max-width: 1024px) {
  .aboutPhoto {
    margin: 100px;
    width: 300px !important;
    height: 300px !important;
  }
  .aboutText {
    min-width: 500px;
    min-height: 180px;
  }
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .aboutPhoto {
    margin: 50px;
    width: 300px !important;
    height: 300px !important;
  }
  .aboutTitle {
    text-align: center;
    margin-bottom: 14px;
  }
  .aboutText {
    text-align: center;
    padding-right: 0px;
    min-width: 300px;
    min-height: 220px;
  }
}
