.container {
  background-image: url('https://ucarecdn.com/39568410-2736-4145-833c-e743dcec04e1/-/preview/999x749/');
  background-size: 100% 100%;
  background-position: default;
  background-repeat:repeat;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.job {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 30px 15px 30px;
}
.edu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 30px 15px 30px;
}
.title {
  font-size: 20px;
  font-weight: 400;
}
.titleHighlighted {
  background-color: var(--primary-color);
  color: #fff;
  text-align:center;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
}
.jobWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}
.jobWrapper.slided {
  opacity: 1;
  transform: translateY(0);
}
.eduWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}
.eduWrapper.slided {
  opacity: 1;
  transform: translateY(0);
}
.logo {
  padding: 50px 20px 50px 50px;
}
.logoImg {
  width: 72px !important;
  height: 80px !important;
}
.logoImg2 {
  width: 130px !important;
  height: 80px !important;
}
.contentWrapper {
  display: flex;
  flex-direction: column;
}
.contentTitle {
  padding: 0px 0px 10px 0px;
  font-weight: 200;
  font-size: 21px;
}
.contentSubTitle {
  font-weight: 650;
  font-size: 15px;
}

// Responsive section
@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .edu {
    padding: 40px;
  }
  .job {
    padding: 40px;
  }
  .title {
    margin-bottom: 10px;
  }
  .eduWrapper{
    flex-direction: column;
    padding:0px;
  }
  .jobWrapper{
    flex-direction: column;
    padding:0px;
  }
  .logo {
    padding: 10px;
  }
  .contentTitle {
    font-size: 16px;
    text-align: center;
  }
  .contentSubTitle {
    font-size: 12px;
    text-align: center;
  }
}