.header {
  z-index: 100000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}
.navbar {
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar ul li {
  margin: 0 1em;
}
.navbar ul li a {
  color: rgb(84, 80, 80);
  text-decoration: none;
  font-size: 12px;
}
.navbar ul li a:hover {
  color: black;
}
.hamburger {
  display: none;
  font-size: 2rem;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

// hamburger menu section
@media (max-width: 768px) {
  .navbar {
    padding: 5px 0 5px 10px;
  }
  .hamburger {
    display: block;
  }
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 0;
    opacity: 0;
  }
  .menu.open {
    max-height: 500px;
    opacity: 1;
  }
  .menu ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .menu li {
    margin: 1rem 0;
    padding: 10px;
  }
}