.container {
  background-color: var(--primary-color);
  padding-top: 70px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.headTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
.headTitle {
  margin-bottom: 70px;
  border-bottom: 7px solid #fff;
  padding-bottom: 10px;
}
.portfolioIcon {
  width: 50px;
  height: 50px;
}
.narrative {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}
.title {
  margin-top: 30px;
}
.btnDownload {
  margin-top: 15px;
  width: 30%;
  background-color: #f7f2f2;
  color: var(--primary-color);
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 1s ease-out, transform 2s ease-out;
}
.btnDownload:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
.btnDownload.visible {
  opacity: 1;
  transform: translateY(0%);
}

@media (max-width: 767px) {
  .container{
    margin-top: 70px;
  }
  .headTitleContainer {
    gap: 30px;
  }
  .headTitle {
    text-align: center;
  }
  .title {
    text-align: center;
    font-size: 17px;
  }
  .btnDownload {
    width: 70%;
  }
}
