@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.quote {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: var(--primary-color);
  padding-top: 70px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  color: #fff;
}
.quoteText {
  font-size: 25px;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 5s ease-out, transform 5s ease-out;
}
.quoteText.visible {
  opacity: 1;
  transform: translateY(0);
}
.authorText {
  margin-top: 50px;
  font-weight: 200;
  text-align: right;
  font-style: italic;
}


@media (max-width: 767px) {
  .quote {
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
