.container {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: flex-start;
}
.title {
  text-align: left;
}
.itSkill {
  width: 40%;
}
.stackSkill {
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 7px;
  row-gap: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

// Responsive section
@media (max-width: 1024px) {
  .itSkill {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .container {
    padding-top: 75px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skill {
    margin-bottom: 50px;
  }
  .title {
    text-align: center;
  }
  .itSkill {
    width: 100%;
  }
  .stackSkill {
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
}
